@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;800&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}
/* index.css or App.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); } /* Since it's doubled */
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
  